{% extends 'network/base.html' %}
{% block body %}
    {% if not to_subscribers %}
        <h1  style="text-align:center">У вас нет подписчиков </h1>
    {% else %}
        <br>
        <form action="{% url 'network:search_to_subscribers' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name_to_subscriber" placeholder="Напишите username" class="form-control">
            <input type="submit" value=&#9730; class="btn btn-outline-light text-dark">
            <input type="hidden" name="profile_id" value="{{profile.id}}">
        </form>
        <br>
        <div class="row">
        {% for to_subscriber in to_subscribers %}
            <div class="col-sm-3">
                 <div class="d-flex">
                    <a href="{% url 'network:main' to_subscriber.to_subscriber.id %}"> <img src="{{to_subscriber.to_subscriber.photo.url}}" width="150" height="150" class="rounded"></a>
                    <div>
                        <h5 class="fw-bold">
                            {{to_subscriber.to_subscriber.user.username}}
                        </h5>
                    </div>
                 </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}