<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аудиозаписи</title>
</head>
<body>

        {% for music in musics %}
        <br>
        <h3>{{music.name}}</h3>
            <audio controls     >
                <source src="{{music.sound.url}}">
            </audio>
        <form action="{% url 'network:add_music' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="+">
            <input hidden="hidden" value="{{music.id}}" name="music_id">
        </form>
        {% endfor %}
</body>
</html>