<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
         <img src="{{photo.picture.url}}" width="450" height="450" >
            <form action="{% url 'network:add_like_picture' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Нравится"> : {{photo.like}}
                    <input type="hidden" value="{{photo.id}}" name="photo_id">
            </form>

            {% if not comments %}
                <h1> Ещё нет комментарий, напишите, будьте первым </h1>
                 <form action="{% url 'network:add_comment'%}" method="post">
                    {% csrf_token %}
                    <input type="text" name="comment_text" placeholder="Напишите комментраий">
                     <input type="submit" value="Отправить" >
                    <input hidden="hidden" name="photo_id" value="{{photo.id}}">
                 </form>
            {% else %}
                <h1> Комментарии:</h1>
                <form action="{% url 'network:add_comment' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="comment_text" placeholder="Напишите комментраий">
                     <input type="submit" value="Отправить" >
                    <input type="hidden" name="photo_id" value="{{photo.id}}">
                </form>
                {% for comment in comments %}
                <br>{{comment.profile.user.username}}:{{comment.text}}
                    <form action="{% url 'network:add_like_comment' %}" method="post">
                        {% csrf_token %}
                         <input type="submit" value="Нравится"> : {{comment.like}}
                        <input type="hidden" value="{{comment.id}}" name="comment_id">
                    </form>
                {% endfor %}
</body>     {% endif %}
</html>