<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>  {% if user.is_authenticated %}
    <h1>Профиль:</h1>
    <li>{{profile.user.username}}</li>
    <li>{{profile.user.first_name}}</li>
    <li>{{profile.user.last_name}}</li>
    <li>{{user.email}}</li>
    {% load static %}
    {{profile.photo}}
    {% static profile.photo %}
    <li><img src="{% static profile.photo %}"></li>
    <li>{{profile.birth_date}}</li>
            {% if check_element %}
        <form action="{% url 'network:add_friend' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Добавить в друзья" >
            <input type="hidden" value="{{profile.id}}" name="profile_id">
        </form>
        <form action="{% url 'network:add_chat' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Написать сообщение">
            <input type="hidden" value="{{profile.id}}" name="profile_id">
        </form>
            {% endif %}
        <a href="{% url 'network:messanger' %}">Messanger</a>
    <h1>Друзья:</h1>
        {% for subscriber in subscribers %}
        <li>
            <a href="{% url 'network:main' subscriber.subscriber.user.id  %}">{{subscriber.subscriber.user.username}}</a>
        </li>
        {% endfor %}

    <h1>Подписчики:</h1>
        {% for to_subscriber in to_subscribers %}
        <li>
            <a href="{% url 'network:main' to_subscriber.to_subscriber.user.id %}">{{to_subscriber.to_subscriber.user.username}}</a>
        </li>
        {% endfor %}
        {% endif %}
</body>
</html>