<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      {% if friend_rooms or my_rooms %}
          {% for room in my_rooms %}
            <li>
              <a href="{% url 'network:message_room' room.id %}"> {{room.friend.user.username}}</a>
            </li>
          {% endfor %}
          {% for room in friend_rooms %}
            <li>
              <a href="{% url 'network:message_room' room.id %}"> {{room.you.user.username}}</a>
            </li>
          {% endfor %}
        {% else %}
        <h1> Здесь нет сообщений! </h1>
      {% endif %}
</body>
</html>