<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои сообщения</title>
</head>
<body>
      {% if friend_rooms or my_rooms %}
      <h1>Диалоги </h1>
          {% for room in my_rooms %}
              <br><h4>{{room.friend.user.username}}</h4>
              <a href="{% url 'network:main' room.friend.id %}"> <img src=" {{room.friend.photo.url}}" width="70" height="70" ></a>
              <a href="{% url 'network:message_room' room.id %}"><h3>Ваш диалог</h3></a>
          {% endfor %}
          {% for room in friend_rooms %}
              <br><h4>{{room.friend.user.username}}</h4>
              <a href="{% url 'network:message_room' room.you.id %}"> <img src=" {{room.you.photo.url}}" width="70" height="70" >-{{room.you.user.username}}</a>
              <a href="{% url 'network:message_room' room.id %}"><h3>Ваш диалог</h3></a>
          {% endfor %}
        {% else %}
        <h1> Здесь нет сообщений! </h1>
      {% endif %}
</body>
</html>