{% extends 'network/base.html' %}
{% block body %}
    <div class="d-grid gap-3">
        <button type="button" class="btn btn-primary btn-block"><a href="{% url 'network:all_musics' %}"><h5 style="color:White;">Рекомендации</h5></a></button>
    </div>
    {% if not musics %}
    <br>
    <br>
        <h1 style="text-align:center;"> Здесь ещё нет аудиозаписией</h1>
    {% else %}
    <br>
    <br>
        <h1 style="text-align:center;">Мои Аудиозаписи</h1>
        {% for music in musics %}
            <br>
            <h3>{{music.sound.name}}</h3>
                <audio controls     >
                    <source src="{{music.sound.sound.url}}">
                </audio>
            {% if user %}
        <form action="{% url 'network:delete_music' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить">
            <input type="hidden" name="music_id" value="{{music.id}}">
        </form>

            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}