<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      {% if  messages %}
        {% for message in messages %}
            <h1><img src="{{message.author.photo.url}}" width="70" height="70">:{{message.text}}</h1>
            {{message.date}}

        {% endfor %}


      {% else %}
            <h1> Нет Сообщений </h1>
      {% endif %}
         <form action="{% url 'network:add_message' %}" method="post">
            {% csrf_token %}
            <input type="text" name="text" placeholder="Написать сообщение" >
            <input type="submit" value="Отправить">
            <input type="hidden" name="chat_id" value="{{chat.id}}">
        </form>

</body>
</html>