{% extends 'network/base.html' %}
{% block body %}
        {% if not all_people %}
        <h1 style="text-align:center"> Ничего не удалось найти по вашему запросу </h1>
        <br>
         <form action="{% url 'network:search' %}" method="post">
            {% csrf_token %}
             <h1 style="font-family:verdana;color:Black;"><input type="text" name="name_element" placeholder="Напишите username" class="form-control"></h1>
            <input type="submit" value=&#9730; class="btn btn-outline-light text-dark">
        </form>
        {% else %}
        <br>
        <form action="{% url 'network:search' %}" method="post">
            {% csrf_token %}
            <h1 style="font-family:verdana;color:Black;"><input type="text" name="name_element" placeholder="Напишите username" class="form-control"></h1>
            <input type="submit" value=&#9730; class="btn btn-outline-light text-dark">
        </form>
        <br>
         <div class="row">
        {% for people in all_people %}
             <div class="col-sm-3">
                 <div class="d-flex">
                     <a href="{% url 'network:main' people.id %}"><img src="{{people.photo.url}}" width="150" height="150" class="rounded"></a>
                     <div>
                         <h5 class="fw-bold">
                            &nbsp;&nbsp;{{people.user.username}}
                         </h5>
                     </div>
                </div>
             </div>
        {% endfor %}
         </div>
        {% endif %}
{% endblock %}