{% extends 'network/base.html' %}
{% block body %}
    {% if not search_element %}
        <br>
        <h1 style="text-align:center"> Нет друзей с таким 'username'</h1>
    {% else%}
        <br>
        <h1 style="text-align:center">Вот что мне удалось найти по вашему запросу</h1>
        <br>
        <div class="row">
        {%for i in search_element%}
             <div class="col-sm-3">
                 <div class="d-flex">
                    <a href="{% url 'network:main' i.profile.id %}"><img src="{{i.profile.photo.url}}" width="150" height="150" class="rounded"></a>
                     <div>
                        <h5 class="fw-bold">
                            {{i.username}}
                        </h5>
                     </div>
                 </div>
             </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}