<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% for i in supports %}
            {% if not i.profile.user.username == i.creation_user_username %}
            <h1>Техническая поддержка:{{i.text}}</h1>
            {% else %}
                <h1>{{ i.profile.user.username }}:{{i.text}}</h1>
            {% endif %}
        {% endfor %}
        <form action="{% url 'network:add_report' %}" method="post">
            {% csrf_token %}

            <input type="text" name="text" placeholder="Напишите что случилось">
            <input type="submit" value="Отправить">
        </form>


</body>
</html>