{% extends 'network/base.html' %}
{% block body %}
        <br>
        <form action="{% url 'network:add_message' %}" method="post">
            {% csrf_token %}
            <h1 style="font-family:verdana;color:Black;"><input type="text" name="text" placeholder="Написать сообщение" class="form-control" ></h1>
            <input type="submit" value=&#9730; class="btn btn-outline-light text-dark">
            <input type="hidden" name="chat_id" value="{{chat.id}}">
        </form>
        <br>
      {% if  mess %}
        <table id="-appendHere" class="table table-striped table-condensed">
        {% for mes in mess %}
            <div class="d-flex">
                <a href="{% url 'network:main' mes.author.id%}"><img src="{{mes.author.photo.url}}" class="me-3 rounded-circle" style="width: 60px; height: 60px;"></a>
                <div>
                    <h5 class="fw-bold">
                        {{mes.author.user.username}}
                         <small class="text-muted">{{mes.date}}</small>
                    </h5>
                    <ul class="list-group">
                        <li class="list-group-item"><p>{{mes.text}}</p></li>
                    </ul>
                </div>
            </div>
            <br>
        {% endfor %}
        </table>
      {% else %}
            <h1> Нет Сообщений </h1>
      {% endif %}